body {
    background-color: #d5e2ea;
    color: #003e65;
    font-size: 20px;
}

header {
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    padding: 25px;
    border-bottom: solid 5px #116927d9;
    width: 97.4%;
    background-color: #b0d9f3;
    color: #012225d9;
    font-size: 25px;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    position: relative;
    top: 350px;
    width: 50%;
    margin: auto;
    align-content: center;
}

.score-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    top: 350px;
    width: 50%;
    margin: auto;
    text-align: center;
}

.result-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 80px;
    position: relative;
    top: 350px;
    width: 50%;
    margin: auto;
}

button {
    margin: auto;
    padding: 10px;
    width: 150px;
    grid-row: 1;
    margin-bottom: 50px;
}

.winner {
    text-align: center;
    grid-column: 2;
    margin-top: 25px;
}

.button-grid img:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 2.5px 5px #615f5f;
}

img {
    width: 85px;
    height: 85px;
    border-radius: 25%;
    border: solid black 1px;
    padding: 5px;
    background-color: aliceblue;
    margin-bottom: 10px;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

#player-choice {
    margin-top: 5px;
}